[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=cheesemaker
Name=cheesemaker
Comment=Simple image viewer
Icon=cheesemaker
Categories=GTK;Graphics;
StartupNotify=True
